Repository AdmGenSameer/archpkg-helper, pull requests merged in 2025-09, with the labels that each got.

#44 Fix typos and standardize headings & bullets in README (#40)
  README.md
Labels: documentation, good first issue, GSSoC'25, Very Easy

#42 Add GitHub Issue Templates (Bug Report, Docs Update, Feature Request)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs_update.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation, good first issue, GSSoC'25, Level 1

#34 Refactor/improve error messages
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  archpkg/cli.py
  archpkg/command_gen.py
  archpkg/config.py
  archpkg/exceptions.py
  archpkg/logging_config.py
  archpkg/search_apt.py
  archpkg/search_aur.py
  archpkg/search_dnf.py
  archpkg/search_flatpak.py
  archpkg/search_pacman.py
  archpkg/search_snap.py
Labels: GSSoC'25, Level 1, cli, ux-improvement
